include mixin

//- var path = "https://static.claro.com.pe/landings/havas/2023/centro-de-ayuda/v1/";
//- var path = "https://www.claro.com.pe/portal/pe-2020/recursos_contenido/claro-home/"; 
- var path = "";

//- let pathImage = './public/images/';
//- let pathCSS = './public/css/';
//- let pathCSSComponent = './components/';
//- let pathJSComponent = './components/';

block vars
doctype
html(lang='es')
	head
		title Zuma | Jugos 100% naturales
		meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no')
		meta(name="description" content="Disfruta las mejores combinaciones de jugos del Perú, Sin agua, sin preservantes, sin azúcar añadida.")
		meta(property="og:title" content="Zuma | Jugos 100% naturales")
		meta(property="og:description" content="Disfruta las mejores combinaciones de jugos del Perú, Sin agua, sin preservantes, sin azúcar añadida.")
		meta(property="og:image" content="/assets/variants/preview.jpg")
		link(rel="icon" type="image/x-icon" href="/assets/variants/favicon.ico")
		link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")

		script(type='text/javascript' src= path+'js/library/jquery.js')
		//-script(type='text/javascript' src=path+"js/library/pug.js")

		if css == 1
			+block_css

		//-link(rel="stylesheet" type='text/css' href=pathCSS+"reset.css")
		//-link(rel="stylesheet" type='text/css' href=pathCSSComponent+"header/header.css")
		//-link(rel="stylesheet" type='text/css' href=pathCSSComponent+"footer/footer.css")

		link(rel='stylesheet' type='text/css' href=path+'css/common.css' charset="utf-8")
		//-link(rel="stylesheet" href="https://unpkg.com/vueperslides/dist/vueperslides.css" crossorigin="anonymous")
		//-link(href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@6/dist/css/index.css" rel="stylesheet")

	body
		//-.layout#app(v-cloak)
		.layout#app
			//-include ../../components/header/header.pug
			.layout__main
				+block_content
				//-include ../../components/footer/footer.pug

				if plugins == 1
					//- +block_plugins

		if script == 1
			+block_javascript
